@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<ul>
    @if (@TempData["DoctorName"] != null)
    {
        <li>
            <a class="nav-link scrollto" style="font-size:medium;"
           asp-area="" asp-controller="Doctor" asp-action="Logout">Logout</a>
        </li>

        <li >
            <a class="nav-link scrollto" style="font-size:medium;" 
                title="Manage">@TempData["DoctorName"] - @TempData["DoctorDept"]</a>
        </li>
    }
    else
    {
        <li >
            <a class="nav-link scrollto" style="font-size:medium;"
                asp-area="" asp-controller="Doctor" asp-action="Register">Register</a>
        </li>

        <li >
            <a class="nav-link scrollto" style="font-size:medium;"
           asp-area="" asp-controller="Doctor" asp-action="Login">Login</a>
        </li>

        
    }
</ul>
