@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

<ul class="navbar-nav">
    @if (@TempData["DoctorName"] != null)
{
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Stroke" asp-action="ShowStrokePatients">Show_Stroke_Patients</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="" title="Manage">@TempData["DoctorName"] - @TempData["DoctorDept"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Doctor" asp-action="Logout">Logout</a>
    </li>
}
else
{

    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Doctor" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Doctor" asp-action="login">Login</a>
        </li>
}
</ul>
