
@{
    ViewData["Title"] = "Check Patient Using MRI";
}

@model Ray

<form asp-action="AddNewDiagnosisUsingMRI" asp-controller="Home">
    <h3>Patient Information</h3>
<!--
    <div class="form-group">
        <input asp-for="patient.Name" type="text" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">
        <input asp-for="patient.Email" type="email" class="form-control" placeholder="Email">
    </div>


    <div class="form-group">
        <select class="form-control">
            <option selected hidden>Department</option>
            <option value="1">Brain</option>
            <option value="2">Eye</option>

        </select>
    </div>
  -->
    <div class="form-group">
        <label>Ray Image</label>
        <input asp-for="ImageFile" accept="image/*">
    </div>

    <button type="submit" class="btn btn-dark btn-lg">Check</button>


</form>