@{
    ViewData["Title"] = "Home Page";
     Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Medicio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="~/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="`/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="`/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Medicio - v4.9.1
  * Template URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(https://yesofcorsa.com/wp-content/uploads/2017/05/Hospital-Best-Wallpaper.jpg)">
          <div class="container">
            <h2>Welcome to <span>Doctor Assistant</span></h2>
           
            <p>
                Help Doctors of radiology and laboratory in diagnosing diseases 
                and accelerate the process of diagnosing diseases to protect the
                largest possible number of people from death.
            </p>
           
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div>
        </div>               

      </div>

     

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Brain Tumor Classification</a></h4>
              <p class="description">
                 The brain tumor is a cluster of abnormal tissues, and it is essential
                 to categorize brain tumors for treatment using Magnetic
                 Resonance Imaging (MRI). 
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">Stroke Disease Detection</a></h4>
              <p class="description">
                Stroke is a medical disorder in which the blood arteries in the brain 
                are ruptured, causing damage to the brain. When the supply of blood 
                and other nutrients to the brain is interrupted, symptoms might develop.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">Alzheimer's Disease Detection </a></h4>
              <p class="description">
                Alzheimer's disease (AD) is an advanced brain disorder and the most common
                cause of dementia in the elderly; it causes the death of neuron 
                cells and tissue loss in the brain                  
            </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
                 <h4 class="title"><a href="">Diabetic Retinopathy Detection </a></h4>
              <p class="description">   
                DR is a retinal vascular disease, which can lead to visual impairment
                or permanent blindness if not discovered in its initial stages.                   </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Us</h2>
            <p>
                Help Doctors of radiology and laboratory in diagnosing diseases 
                and accelerate the process of diagnosing diseases to protect the
                largest possible number of people from death.
            </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="https://img.freepik.com/free-photo/doctors-looking-x-ray-hallway_23-2147763767.jpg?size=626&ext=jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>How to use the website ?</h3>
            <p class="fst-italic">
              First of all, you must create an account on the webstite. Then, you'll log in.
             
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>
                 Choose the disease you want to detect.                 
               </li>
              <li><i class="bi bi-check-circle"></i> 
                 Enter the needed information about the patient.
              </li>
              <li><i class="bi bi-check-circle"></i> 
                  Finally, you will have the result of diagnosing this disease.
              </li>
            </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>

              <p><strong>Doctors</strong> See all doctors in the website</p>
              <a class="navbar-brand" asp-area="" asp-controller="Doctor" asp-action="login">
                  Find out more &raquo;
              </a>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Departments</strong> See all departments in the website</p>
              <a class="navbar-brand" asp-area="" asp-controller="Doctor" asp-action="login">
                  Find out more &raquo;
              </a>
            </div>
          </div>
         
        </div>

      </div>
    </section><!-- End Counts Section -->

   <!-- ======= Services Section ======= -->
<section id="services" class="services services" style="margin-top:100px; margin-bottom:-70px">
            @if (@TempData["DoctorDept"].Equals("Brain"))
            {
                <div class="row" style="margin-top:30px;">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-brain"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="AddNewBrainTumorPatient">
                                Brain Tumor Classification
                            </a>
                        </h4>

                        <p class="description">
                            The classification of brain tumors is performed by biopsy, which is not usually
                            conducted before definitive brain surgery.
                        </p>

                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-head-side-virus"></i></div>
                        <h4 class="title">
                            <a asp-controller="Stroke" asp-action="AddStrokePatient">Stroke Disease Detection</a>
                        </h4>
                        <p class="description">
                            Early detection and appropriate management are required to prevent
                            further damage to the affected area of the brain and other
                            complications in other parts of the body.
                        </p>
                    </div>


                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-head-side-virus"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="AddNewAlzehimerPatient">
                                Alzheimer's Disease Detection
                            </a>
                        </h4>
                        <p class="description">
                            There is no cure for Alzheimer's disease, but earlier intervention can
                            help slow dementia progress.
                        </p>
                    </div>
                </div>

                <div class="row" style="margin-bottom:130px">

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="ShowBrainTumorPatients">
                                Show Brain Tumor Patients
                            </a>
                        </h4>
                        <p class="description">
                            Show all patients that has brain tumor disease.
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Stroke" asp-action="ShowStrokePatients">Show Stroke Patients</a>
                        </h4>
                        <p class="description">
                            Show all patients that has stroke disease.

                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="ShowAlzehimerPatients">
                                Show Alzehimer's Patients
                            </a>
                        </h4>
                        <p class="description">
                            Show all patients that has Alzehimer disease.
                        </p>
                    </div>

                </div>
            }
            else if (@TempData["DoctorDept"].Equals("Eye"))
            {
                <div class="row" style="margin-bottom:300px;">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-eye"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="AddNewDiabeticPatient">
                                Diabetic Retinopathy Detection
                            </a>
                        </h4>
                        <p class="description">
                            If you have diabetes, it’s important to get a comprehensive dilated
                            eye exam at least once a year. Diabetic retinopathy may not
                            have any symptoms at first — but finding it early can help you take steps
                            to protect your vision.

                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="ShowDiabeticRetinopathyPatients">
                                Show Diabetic Retinopathy Patients
                            </a>
                        </h4>
                        <p class="description">
                            Show all patients that has diabetic retinopathy disease.
                        </p>
                    </div>

                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-brain"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="AddNewBrainTumorPatient">
                                Brain Tumor Classification
                            </a>
                        </h4>

                        <p class="description">
                            The classification of brain tumors is performed by biopsy, which is not usually
                            conducted before definitive brain surgery.
                        </p>

                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-head-side-virus"></i></div>
                        <h4 class="title">
                            <a asp-controller="Stroke" asp-action="AddStrokePatient">Stroke Disease Detection</a>
                        </h4>
                        <p class="description">
                            Early detection and appropriate management are required to prevent
                            further damage to the affected area of the brain and other
                            complications in other parts of the body.
                        </p>
                    </div>


                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-head-side-virus"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="AddNewAlzehimerPatient">
                                Alzheimer's Disease Detection
                            </a>
                        </h4>
                        <p class="description">
                            There is no cure for Alzheimer's disease, but earlier intervention can
                            help slow dementia progress.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-eye"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="AddNewDiabeticPatient">
                                Diabetic Retinopathy Detection
                            </a>
                        </h4>
                        <p class="description">
                            If you have diabetes, it’s important to get a comprehensive dilated
                            eye exam at least once a year. Diabetic retinopathy may not
                            have any symptoms at first — but finding it early can help you take steps
                            to protect your vision.

                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Stroke" asp-action="ShowStrokePatients">Show Stroke Patients</a>
                        </h4>
                        <p class="description">
                            Show all patients that has stroke disease.

                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="ShowBrainTumorPatients">
                                Show Brain Tumor Patients
                            </a>
                        </h4>
                        <p class="description">
                            Show all patients that has brain tumor disease.
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="ShowAlzehimerPatients">
                                Show Alzehimer's Patients
                            </a>
                        </h4>
                        <p class="description">
                            Show all patients that has Alzehimer disease.
                        </p>
                    </div>


                    <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-user-friends"></i></div>
                        <h4 class="title">
                            <a asp-controller="Ray" asp-action="ShowDiabeticRetinopathyPatients">
                                Show Diabetic Retinopathy Patients
                            </a>
                        </h4>
                        <p class="description">
                            Show all patients that has diabetic retinopathy disease.
                        </p>
                    </div>

                </div>
            }

        </section>
<!-- End Services Section -->

   

    <!-- ======= Departments Section ======= -->
    <section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Departments</h2>
          <p>
             In our website, we have 2 departments Eye department &Aacute; Brain department
          </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                    <h4>Ophthalmology </h4>
                    
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                  <h4>Neurology</h4>
                
                </a>
              </li>
             
            </ul>
          </div>
      
          <div class="col-lg-8">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <h3>Ophthalmology</h3>
                <p class="fst-italic">
                    The Department of Ophthalmology is a large multi-disciplinary
                    department providing comprehensive ophthalmology care.
                    This department deals with eye problems and treatment.
                </p>
                    <img src="https://deepsense.ai/wp-content/uploads/2019/02/deepsense-ios-team-among-finalists-in-diabetic-retinopathy-detection-competition.jpg.pagespeed.ce.-T1I_1knls.jpg"
                    alt="" class="img-fluid">
              </div>
              <div class="tab-pane" id="tab-2">
                <h3>Neurology</h3>
                <p class="fst-italic">
                    Neurology is the branch of medicine dealing with the diagnosis and 
                    treatment of all categories of conditions and disease involving the brain,
                    the spinal cord and the peripheral nerves.
                </p>

                <img src="https://tse4.mm.bing.net/th?id=OIP.JugOLpm7G29UXZ3Jc47ygwHaC3&pid=Api&P=0"
                    alt="" class="img-fluid">
              </div>
              
            </div>
          </div>
        </div>

      </div>

    </section><!-- End Departments Section -->


    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide">
                    <a class="gallery-lightbox" href="#">
                        <img src="https://1.bp.blogspot.com/-0qaT26Brgk0/Xj8kGq8AaaI/AAAAAAAAAKI/vpUNs8TGK_gk5wwnoHZCRBFiHNzbTzW4wCLcBGAsYHQ/s1600/brain-tumor-health-hub.jpg" 
                            class="img-fluid" alt="">
                    </a>
                </div>
            <div class="swiper-slide">
                <a class="gallery-lightbox" href="#">
                     <img src="https://tse4.mm.bing.net/th?id=OIP.PEEav9oMiutCUSfvADmTFgHaFx&pid=Api&P=0" 
                     class="img-fluid" alt="">
                </a>
             </div>
           
            <div class="swiper-slide">
                <a class="gallery-lightbox" href="#">
                    <img src="https://www.gethealthandbeauty.com/wp-content/uploads/2020/12/New-Project-7-2.jpg" 
                    class="img-fluid" alt=""></a>
            </div>
            
            <div class="swiper-slide">
                <a class="gallery-lightbox" href="#">
                    <img src="https://southtulsaeye.com/wp-content/uploads/2019/01/Eyeball-Side-View-Diabetic.png"
                    class="img-fluid" alt=""></a>
            </div>
            
            </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->


  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="~/vendor/aos/aos.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>

</body>

</html>